/*
   AAC Color: #697e47;   purple
*/
#loading-bar .bar {
    background-color: #697e47;
}
.service-color {
    background-color: #697e47;
    color: white;
}

i.service-color-hover {
    background-color: #000;
    color: white;
}

.service-color-hover {
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
}


.service-color-hover:hover {
    background-color: #697e47;
    color: white;
}

.service-color-only {
    color: #697e47;
}

.service-color-bg {
    background-color: #697e47;
}

/* put this in all the files */
.btn:hover,
#paradeDays input[type="radio"]:checked + label {
    background-color: #697e47;
}


.searchOptions li a:hover {
    background: #697e47;
    color: white !important;
}


i.nav-v5 {
    background-color: #697e47;
}

a:hover {
    color: #697e47;
}

.navbar {
    background: #373737;
}

/* Dashboard icon colours - small */
.widget-area > .block .widget .widget-head h3.title > span {
    /*background-color: #697e47;*/
}

/*nav hovers*/
.navbar .navbar-nav > li.active > a, .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li:hover > a {
    background-color: #697e47 !important;
    color: rgb(255, 255, 255)!important;
}

/*notification circles*/
/*.navbar .my-account a span {
    background-color: #697e47;
}
*/

/*drop down hover*/
.navbar .nav > li > ul > li > a:hover {
    color: #697e47;
}

/*dashboard add widget*/
#dashboardControls a:hover, #dashboardControls a.selected,
.widget-area > .block:first-child .toggleDashboard {
    color: #697e47;
}

#notificationsOpenBtn {
    background-color: #697e47;
}



.navbar.navbar-default.navbar-fixed-top > div > div.navbar-header > a:hover {
  background-color: #697e47;
}

.icon-info {
    background: url('../../img/info_green.png') no-repeat scroll center center transparent;
}

.icon-info.icon-info-grey {
    background: url('../../img/info_grey.png') no-repeat scroll center center transparent;
}

tr:hover .nextArrow,
.nextArrow:hover {
    background: url('../../img/arrow-hover.png') no-repeat top left #697e47!important;
}

.element-cancel-submit .btn.cancel:hover,
.btn-task:hover {
    background-color: #697e47;
}

.child-collection a.btn.btn-show {
    background-color: #697e47;
    color: #ffffff;
}

.child-collection a.btn.btn-show:hover {
    background-color: #f9f9f9;
    color: #697e47;
}


.btn.btn-child {
    background-color:#697e47;
}

.btn-child:hover {
    color: #697e47;
}

.icon-question{
     background: url('../../img/icon-question-AAC.png') no-repeat scroll center center rgba(0, 0, 0, 0);
}

.icon-question-large{
     background: url('../../img/icon-question-large-AAC.png') no-repeat scroll center center rgba(0, 0, 0, 0);
}


/***********************************  Datepicker    ******************************************/
.btn-datepicker {
    background-color:#697e47;
}

.btn-datepicker-bgwhite {
     background-color:#697e47;
}

[date-picker] .active:hover,
[date-picker] .now:hover,
[date-picker] .active:active,
[date-picker] .now:active,
[date-picker] .active.active,
[date-picker] .now.active,
[date-picker] .active.disabled,
[date-picker] .now.disabled,
[date-picker] .active[disabled],
[date-picker] .now[disabled] {
  color: #ffffff;
  background-color:  #697e47;
}


div#member-edit-template-html > form.give-result .give-result-tabs .btn:hover {
    background-color: #697e47;
}

.widget-area .widget .widget-head {
     background-color: #697e47;
}

.widget-area .widget {
    border:20px solid rgba(105,126,71,.7);
    border-left:0;
    border-right:0;
    border-top:0;
}

#searchResults tr:hover .task-icon {
    background-image: url("../../img/icon-tasks-AAC.png") !important;
}

#searchResults tr:hover .message-icon {
    background-image: url("../../img/message-icon-aac.gif");
}
